<!DOCTYPE html>
<html>
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='<%= css %>'/>
  <script src='<%= js %>'></script>
  <title><%= title %></title>
</head>
