<div class='music_bar_space'></div>
<div class='music_bar'>
  <div class='controls'>
    <div class='prev'>
      <div class='triangle'></div>
      <div class='triangle'></div>
    </div>
    <div class='pause'>
      <div class='line'></div>
      <div class='line'></div>
    </div>
    <div class='next'>
      <div class='triangle'></div>
      <div class='triangle'></div>
    </div>
  </div>
  <div class='info-box'>
    <div class='current_playing_title'>None</div>
    <div class='current_playing_artist'>None</div>
  </div>
  <div class='last-column'></div>
</div>
