<div class='music_bar_space'></div>
<div class='music_bar'>
  <div class='info-box'>
    <div class='current_playing_title'>None</div>
    <div class='current_playing_artist'>None</div>
  </div>
</div>
<%- include ./audio_stream %>
