<% title = 'Stream' %>
<% css = 'css/index_client.css' %>
<% js = 'js/index_client.js' %>

<%- include ../partials/header %>
<body>
  <script>
    const IP = '<%= ip %>';
  </script>
  <% stream_bar = 'stream-bar' %>
  <%- include ../partials/music_bar %>
</body>
