<% title = 'Host' %>
<% css = 'css/index_host.css' %>
<% js = 'js/music_player.js' %>

<%- include ../partials/header %>
<body>
  <script>
  const IP = '<%= ip %>'
  </script>
  <%- include ../partials/music_player %>
</body>
